body {
  --color-background: #FFFFFF;
}

@media (prefers-colors-scheme: dark) {
  body {
    --color-background: #FFFFFF;
  }
}

.App {
  display: grid;
  grid-template-areas: 
  ". title ."
  ". game controllers ";
  grid-template-columns: repeat(3, 1fr);
}

h1{
text-align: center;
grid-area: title;
--color-title: #222222;
}

.controls {
  grid-area: controls;
}

.board{
border: 2px black solid;
user-select: none;
margin: auto;
grid-area: game;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  aspect-ratio: 1;
  border: .05px black solid;
}

.cell.Empty{
  background-color: #eef3ff;
  background-color: #F2F2F2;
  --color-board: #F2F2F2;;
}

.cell.I {
  background-color: #cde5f9;
}

.cell.J {
  background-color: #85b6ce;
}

.cell.L {
  background-color: #64a8a8;
}

.cell.O {
  background-color: #4a9152;
}

.cell.S {
  background-color: #45681e;
}

.cell.T {
  background-color: #54450f;
}

.cell.Z {
  background-color: #362904;
}